<div class="container">
  <h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <%# if flash[:notice].present? %>
<!--      <p class="alert alert-success"><%#= flash[:notice] %></p>-->
    <%# end %>

    <% if flash[:alert].present? %>
      <p class="alert alert-danger"><%= flash[:alert] %></p>
    <% end %>
    <div class="form-group">
      <label>Email</label>
      <%= f.email_field :email, autofocus: true, autocomplete: "email",  class: 'form-control', placeholder: 'Email'%>
    </div>
    <div class="form-group">
      <label>Password</label>
      <%= f.password_field :password, autocomplete: "current-password" , class: 'form-control', placeholder: 'Password'%>
    </div>
    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
    <button type="submit" class="btn btn-primary">Login</button>
  <% end %>

</div>

